html {
	overflow: auto;
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  letter-spacing: 7px;
  overflow: hidden;
	min-width: 1080px;
}
.pink {
  color: #D99B9B;
}
.name-2 {
  color: white;
}
.center-text {
  text-align: center;
}
.text-height {
  line-height: 220%;
}
.center {
  transform: translate(-50%, -50%);
  margin: 80px 50% -130px;
  border-radius: 20px;
}
.account,.details {
	font-size: 30px;
}
.heading {
	text-decoration: underline;
  font-size: 70px;
  font-weight: normal;
}
.name-1 {
  font-size: 112px;
  font-weight: normal;
}
.accountPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  list-style: none;
}
.icon {
  height: 50px;
  width: 50px;
}
.initialD {
  display: inline-block;
  font-size: 50px;
  background-color: pink;
  border-radius: 5px;
  padding-left: 7px;
}
.container {
  background-color: #0f4e76;
}
a:link {
  color: #D99B9B;
}
a:visited {
  color: pink;
}
a:hover {
  color: white;
}
/*3つともリンクのある文字の色の調整*/
/*ここから先はSP版---------------------------------------------------------------------------*/
@media (max-width: 800px) {
  body {
    letter-spacing: 2px;
    /*文字と文字の間隔を指定*/
    /*ダブリ調整済み*/
  }
  .text-height {
    line-height: 350%;
    /*自己紹介文の行の縦の間隔を開ける*/
  }
  .local-img-decoration {
    border-radius: 15px;
    width: 160px;
    height: 160px;
    /*3つともすべてオウムガイのアイコンの調整
    上から、画像の基準となる点を中央に、画像を中央に、角丸に*/
    /*ダブリ調整済み*/
  }
  .account,.details {
    font-size: 15px;
    /*フォントサイズ指定*/
  }
  .top-name {
    font-size: 60px;
    /*一番上の大きなdaisan.me ダブリ調整済み*/
  }
  .accountPacks {
    margin-right: 40px;
    /*accountの並び方をflex-boxで調整
    上から、flex-boxにする、縦に並べる、横方向に中央寄せにする*/
    /*ダブリ調整済み*/
    /*んがご*/
  }
  .icon {
    height: 40px;
    width: 40px;
    /*アイコンの大きさを40*40にする*/
  }
}
