html {
	overflow: auto;
}
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  letter-spacing: 7px;
  overflow: hidden;
	min-width: 1080px;
}
.pink {
  color: #D99B9B;
}
.name-2 {
  color: white;
}
.center-text {
  text-align: center;
}
.text-height {
  line-height: 220%;
}
.center {
  transform: translate(-50%, -50%);
  margin: 80px 50% -130px;
  border-radius: 20px;
}
.account,.details {
	font-size: 30px;
}
.heading {
	text-decoration: underline;
  font-size: 70px;
  font-weight: normal;
}
.name-1 {
  font-size: 112px;
  font-weight: normal;
}
.accountPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  list-style: none;
}
.icon {
  height: 50px;
  width: 50px;
}
.initialD {
  display: inline-block;
  font-size: 50px;
  background-color: pink;
  border-radius: 5px;
  padding-left: 7px;
}
.container {
  background-color: #0f4e76;
}
a:link {
  color: #D99B9B;
}
a:visited {
  color: pink;
}
a:hover {
  color: white;
}


