html {
  overflow: auto;
}
/*これがないと下にスクロールできない*/
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  /*フォントファミリー指定*/
  letter-spacing: 7px;
  /*これがないと横にスクロールできてしまう*/
}
/*
フォントファミリーの指定、文字と文字の間隔を指定、
*/
.main-font-color {
  color: #D99B9B;
  /*ピンクの文字を作るためのクラス*/
}
.local-font-color {
  color: white;
  /*daisanの文字列のためだけの白*/
}
.center-text {
  text-align: center;
  /*文字列を中央寄せにするため*/
}
.text-height {
  line-height: 220%;
  /*自己紹介文の行の縦の間隔を開ける*/
}
.local-img-decoration {
  display: block;
  transform:translateY(-20%);
  margin: 0px auto;
  border-radius: 20px;
  /*3つともすべてオウムガイのアイコンの調整
  上から、画像の基準となる点を中央に、画像を中央に、角丸に*/
}
.account,.details {
  font-size: 30px;
  /*フォントサイズ指定*/
}
.heading {
	text-decoration: underline;
  font-size: 70px;
  font-weight: normal;
  /*見出しの調整
  上から、下線、フォントサイズ、太字解除*/
}
.top-name {
  font-size: 112px;
  font-weight: normal;
  /*一番上の大きなdaisan.me*/
}
.accountPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*accountの並び方をflex-boxで調整
  上から、flex-boxにする、縦に並べる、横方向に中央寄せにする*/
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  list-style: none;
  /*IDとアイコンのまとまりを調整
  上から、flex-boxにする、右から左に並べる、縦方向に中央寄せにする、20pxの幅を開ける、左の点を消す*/
}
.icon {
  height: 50px;
  width: 50px;
  /*アイコンの大きさを50*50にする*/
}
.initialD {
  display: inline-block;
  font-size: 50px;
  background-color: pink;
  border-radius: 5px;
  padding-left: 7px;
  /*左下のDの調整
  インラインブロックにする、font-size指定、背景をpinkに、角丸5px、左のpaddingを7px*/
}
.container {
  background-color: #0f4e76;
  /*背景を紺色に*/
}
a:link {
  color: #D99B9B;
}
a:visited {
  color: pink;
}
a:hover {
  color: white;
}
/*3つともリンクのある文字の色の調整*/
/*ここから先はSP版---------------------------------------------------------------------------*/
@media (max-width: 800px) {
  body {
    letter-spacing: 2px;
    /*文字と文字の間隔を指定*/
    overflow: hidden;
    /*これがないと横にスクロールできてしまう*/
    /*ダブリ調整済み*/
  }
  .text-height {
    line-height: 350%;
    /*自己紹介文の行の縦の間隔を開ける*/
  }
  .local-img-decoration {
    border-radius: 15px;
    width: 160px;
    height: 160px;
    /*3つともすべてオウムガイのアイコンの調整
    上から、画像の基準となる点を中央に、画像を中央に、角丸に*/
    /*ダブリ調整済み*/
  }
  .account,.details {
    font-size: 15px;
    /*フォントサイズ指定*/
  }
  .top-name {
    font-size: 60px;
    /*一番上の大きなdaisan.me ダブリ調整済み*/
  }
  .accountPacks {
    margin-right: 40px;
    /*accountの並び方をflex-boxで調整
    上から、flex-boxにする、縦に並べる、横方向に中央寄せにする*/
    /*ダブリ調整済み*/
  }
  .icon {
    height: 40px;
    width: 40px;
    /*アイコンの大きさを40*40にする*/
  }
}