html {
	overflow: auto;
}
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic';
  overflow: hidden;
  min-width: 1080px;
  background-color: #fb9;
  margin: 0px;
}
.contents-spacer-1 {
  margin-top: 50px;
  margin-left: 50px;
}
.First-contents-box {
  display: flex;
  border: solid 1px darkgray;
  width: 302px;
}
.Iam {
  box-sizing: border-box;
  background-color: lightgray;
  font-size: 50px;
  padding: 20px;
  color: darkcyan;
  border-top: solid 5px lightgray;
  border-bottom: solid 5px lightgray;
  border-left: solid 5px lightgray;
  cursor: default;
}
.areYou {
  box-sizing: border-box;
  background-color: darkcyan;
  font-size: 50px;
  padding: 20px;
  color: white;
  border-bottom: solid 5px lightgray;
  border-right: solid 5px lightgray;
  border-top: solid 5px lightgray;
  cursor: default;
}
.Iam:hover {
  color: lightgray;
}
.areYou:hover {
  color: darkcyan;
}
/**2個目のコンテンツ**/
.Second-contents-box {
  box-sizing: border-box;
  display: flex;
  margin: 30px 0px 30px 0px;
  background-color: lightgray;
  width: 950px;
  padding: 20px;
  border: solid 1px darkgray;
}
.myIcon {
  width: 256px;
  height: 256px;
  border: solid 2px darkgray;
  border-radius: 10px;
}
.aboutMe {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
  padding-left: 30px;
  border-left: solid 5px darkcyan;
}
.summaryText {
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px;
  background-color: darkcyan;
  color: white;
  padding: 10px;
}

@media (max-width: 800px) {
}
